html {
    overflow:auto;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #d4d4d4; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* background: url('/static/img/pexels-photo.jpg'); */
.bg {
    background: #14151b;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    width: 100%;
    top:0;
    left:0;
    z-index: -1;
}
.jumbotron {
    background: transparent;
    font-family: 'Montserrat', cursive;
    color: #ececec;
}
.jumbotron p {
    color: #b6b6b6;
}

.navbar-default .navbar-brand {
    color: #d6d6d6;
}

.circualr-image {
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
      height: 200px;
      width: 200px;
      margin: 0 auto;
      display: block;
      margin-top: 100px;
      z-index: 1;
  }

.font-header{
    font-family: 'Montserrat', cursive;
}

.header-box {
    border-color: black;
    border-width: 2px;
}

.font-normal {
    font-family: 'Montserrat', cursive;
}

.text-parent {
    position: relative;
}

.text-child {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 50%;
    width: 100%;
    margin: -15% 0 0 -25%;
}

.main {
    margin-top: 100px;
}

#press-enter {
    opacity: 0.2;
}